:root {
  --font-sans: "Noto Sans", system-ui, sans-serif;
  --font-serif: "Alegreya", system-ui, serif;

  --app-gutter: var(--size-fluid-3);

  --min-click-target: 44px;

  --surface-2: var(--cyan-12);
  --surface-3: var(--sand-1);

  --text-2: var(--sand-11);
}

body {
  background: var(--surface-3);
}