.app-notifications {
  padding: var(--size-2) var(--app-gutter);

  background: var(--surface-2);

  font-size: var(--font-size-fluid-0);
  font-family: var(--font-sans);
  color: var(--text-1);
  text-align: center;

  border-bottom: var(--border-size-1) solid rgba(255, 255, 255, 0.2);
}